<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Prediction</title>
</head>
<body>
    <h1>Brain Tumor Prediction</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="folder">Selecciona una carpeta con archivos NIfTI:</label>
        <input type="file" id="folder" name="folder" webkitdirectory directory multiple accept=".nii,.nii.gz">
        <br><br>
        <input type="submit" value="Predecir">
    </form>
</body>
</html>
